h1 {
    background-color: rgba(30, 230, 44, 0.329);
    padding:10px;
    text-align: left;
    text-decoration: dotted;
    text-align: center;
    border-radius: 5px;
    box-sizing: border-box;
}
h2{
    text-transform: uppercase;
    font-weight: bolder;
    font-size: large;
    padding: 10px;
    color: rgb(193, 112, 6);
}
*{
    background-color: #ffffff;
    background-image: -moz-linear-gradient();
}
.header{
    align-items: center;
    text-align: center;
    padding: 10px;
    margin: auto;
}
p{
    box-sizing: border-box;
    margin: auto;
    padding: 12px;
    line-height: 1.5em;
}
ul{
    padding: 5px;
    margin-left: 20px;
    line-height: 1.5em;
}
